@{
    ViewBag.Title = "About Web Samples Store";
}

<hgroup class="titlenew">
    <h3>@ViewBag.Title.</h3>
    <h5>@ViewBag.Message</h5>
  <section>
    <header>
        <h3></h3>
    </header>
    <p>
        <span class="label"></span>
        <span></span>
    </p>
   
</section>
</hgroup>



@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@