@model iPharmacy.Model.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset  class="loginfieldset">
    <legend>Product</legend>
    <p style="float:right">
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

    <ol>
    <li>
         @Html.DisplayNameFor(model => model.Name)
    
        @Html.DisplayFor(model => model.Name)
    </li>

    <li>
         @Html.DisplayNameFor(model => model.Description)
    
        @Html.DisplayFor(model => model.Description)
    </li>

    <li>
         @Html.DisplayNameFor(model => model.Price)
    
        @Html.DisplayFor(model => model.Price)
    </li>
    <li>
         @Html.DisplayNameFor(model => model.AvailableQuantity)
    
        @Html.DisplayFor(model => model.AvailableQuantity)
    </li>

   <li>
         @Html.DisplayNameFor(model => model.OTC)
    
        @Html.DisplayFor(model => model.OTC)
    </li>

    <li>
         @Html.DisplayNameFor(model => model.Regulated)
    
        @Html.DisplayFor(model => model.Regulated)
    </li>
    </ol>
</fieldset>
