@model iPharmacy.Model.Product

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div style="float:right">
    @Html.ActionLink("Back to List", "Index")
</div> 
    <div class="loginfieldsetHeader"> <font>Edit Product</font></div>
    <fieldset class="loginfieldset" style="width:630px">
        <legend>Product</legend>

        @Html.HiddenFor(model => model.Id)

       <ol>
            <li>
                @Html.LabelFor(model => model.Name)
       
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </li>
      
            <li>
                @Html.LabelFor(model => model.Description)        
           
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
           </li>       
            <li>
                @Html.LabelFor(model => model.Price)    
              
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
           </li>

           <li>
                @Html.LabelFor(model => model.AvailableQuantity)

                @Html.EditorFor(model => model.AvailableQuantity)
                @Html.ValidationMessageFor(model => model.AvailableQuantity)
           </li>

           <li>
                @Html.LabelFor(model => model.OTC)

                @Html.EditorFor(model => model.OTC)
                @Html.ValidationMessageFor(model => model.OTC)
          </li>

          <li>
            @Html.LabelFor(model => model.Regulated)

            @Html.EditorFor(model => model.Regulated)
            @Html.ValidationMessageFor(model => model.Regulated)
        </li>
     </ol>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
